set incsearch
set rnu
set scrolloff=8
set clipboard=unnamedplus

set commentary
set surround

" Basic movement in insert mode
inoremap <C-f> <Right>
inoremap <C-n> <Down>
inoremap <C-b> <Left>
inoremap <C-p> <Up>
inoremap <C-a> <Home>
inoremap <C-e> <End>

imap <C-k> <C-o>C
imap <C-u> <C-o>d0
imap <C-y> <C-r>+

vmap <C-v> c<ESC>"+p
vnoremap <C-c> "+y

" Word movement in insert mode (M is Alt key)
inoremap <A-f> <Esc>ea
inoremap <C-A-f> <Esc>Ea
inoremap <C-A-b> <C-o>B
inoremap <A-b> <C-o>b
inoremap <A-m> <Esc>I

" Normal mode mappings
nnoremap <A-m> ^
onoremap <A-m> ^
nnoremap <CR> i<CR><Esc>
nnoremap Y y$
nnoremap g; :action JumpToLastChange<Enter>
nnoremap g, :action JumpToNextChange<Enter>

let mapleader=" "
map <leader>z <Action>(ToggleDistractionFreeMode)
nmap <leader>f <Action>(GotoFile)
nmap <leader>p <Action>(EditorPaste)

nmap gww <Action>(com.andrewbrookins.idea.wrap.WrapAction)
vmap gw <Action>(com.andrewbrookins.idea.wrap.WrapAction)
